<header class="nav-container">
    <nav class="sina-nav mobile-sidebar navbar-fixed" data-top="60">
        <div class="container">

            <div class="extension-nav">
                <ul class="pt-2">
                    <li>
                        <a id="loginbtn" href="Login.html" class="btn btn-link p-1 ml-2">
                            <img src="/tieco/Images/Svg/login.svg" /> ورود
                        </a>
                    </li>
                    <li>
                        <a id="loginbtn" href="Register.html" class="btn btn-link p-1 ml-2">
                            <img src="/tieco/Images/Svg/user.svg" />عضویت
                        </a>
                    </li>
                </ul>
            </div>
            <div class="sina-nav-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar-menu">
                    <i class="fa fa-bars"></i>
                </button>
                <a class="sina-brand pl-4 d-lg-none d-block" href="Index.html">
                    <img src="/tieco/Images/logo.png" class="img-fluid" />
                </a>
            </div>

            <div class="collapse navbar-collapse" id="navbar-menu">
                <ul class="sina-menu sina-menu-center">
                    <li><a href="Index.html">صفحه اصلی</a></li>
                    <!--<li class="dropdown menu-item-has-mega-menu">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">برگه ها<i class="fa  fa-chevron-down pr-2"></i></a>
                        <div class="mega-menu dropdown-menu">
                            <ul class="mega-menu-row" role="menu">
                                <li class="mega-menu-col col-md-3">
                                    <ul class="sub-menu">
                                        <li><a href="Faq.html">سوالات متداول</a></li>
                                        <li><a href="Ourteam.html">معرفی مدیران</a></li>
                                        <li><a href="Gallery.html">گـالری تصاویر</a></li>
                                        <li><a href="Blog.html">اخبارها و رویدادها</a></li>
                                        <li><a href="Blogdetails.html">جزئیات اخبار</a></li>

                                    </ul>
                                </li>

                                <li class="mega-menu-col col-md-3">
                                    <ul class="sub-menu">
                                        <li><a href="Component.html">المان ها</a></li>
                                        <li><a href="Features.html">ویژگی ها</a></li>
                                        <li><a href="Price.html">تعرفه خدمات</a></li>
                                        <li><a href="AboutUs.html">دربـاره ما</a></li>
                                        <li><a href="ContactUs.html">ارتباط با ما</a></li>

                                    </ul>
                                </li>
                                <li class="mega-menu-col col-md-3">
                                    <ul class="sub-menu">
                                        <li><a href="Guide.html">راهنمای استفاده</a></li>
                                        <li><a href="Register.html">عضویت در سایت</a></li>
                                        <li><a href="Login.html">ورود به سایت</a></li>
                                        <li><a href="Service.html">جزئیات خدمات</a></li>
                                        <li><a href="Blank.html">صفحه خالی</a></li>
                                    </ul>
                                </li>
                                <li class="mega-menu-col col-md-3">
                                    <ul class="sub-menu">
                                        <li><a href="404.html">‌صفحه ۴۰۴</a></li>
                                        <li><a href="Waiting.html">لطفا منتظر بمانید</a></li>
                                        <li><a href="Success.html">ثبت موفق</a></li>
                                        <li><a href="UnSuccess.html">ثبت ناموفق</a></li>
                                    </ul>
                                </li>
                            </ul>
                        </div>
                    </li>-->
                    <li><a href="Gallery.html">گالری تصاویر</a></li>
                    <li><a href="Ourteam.html">معرفی مدیران</a></li>
                    <li><a href="Blog.html">اخبار و رویدادها</a></li>
                    <li><a href="Faq.html">سوالات متداول</a></li>
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">برگه ها<i class="fa  fa-chevron-down pr-2"></i></a>
                        <ul class="dropdown-menu">
                            <li><a href="Blogdetails.html">جزئیات اخبار</a></li>
                            <li><a href="Component.html">المان ها</a></li>
                            <li><a href="Features.html">ویژگی ها</a></li>
                            <li><a href="Guide.html">راهنمای استفاده</a></li>
                            <li><a href="Price.html">جدول تعرفه</a></li>
                            <li><a href="404.html">صفحه 404</a></li>

                        </ul>
                    </li>


                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">سایر برگه ها<i class="fa  fa-chevron-down pr-2"></i></a>
                        <ul class="dropdown-menu">
                            <li><a href="Service.html">خدمات</a></li>
                            <li><a href="Success.html">ثبت موفق</a></li>
                            <li><a href="UnSuccess.html">ثبت ناموفق</a></li>
                            <li><a href="Waiting.html">صفحه انتظار</a></li>
                            <li><a href="Blank.html">صفحه خالی</a></li>

                            <!--<li class="dropdown">
                                <a href="#" class="dropdown-toggle" data-toggle="dropdown"><i class="fa fa-chevron-left float-left"></i>زیر منو</a>
                                <ul class="dropdown-menu drop">
                                    <li><a href="#">زیر منو 1</a></li>
                                    <li><a href="#">زیر منو 2</a></li>
                                    <li><a href="#">زیر منو 3</a></li>
                                </ul>
                            </li>-->
                        </ul>
                    </li>

                    <li><a href="AboutUs.html">درباره ما</a></li>
                    <li><a href="ContactUs.html">ارتباط با ما</a></li>
                </ul>

            </div>
        </div>
    </nav>
</header>
