@inject Service.Repository.Interface.IAccountService accountService;
<header class="nav-container">
    <nav class="sina-nav mobile-sidebar navbar-fixed" data-top="60">
        <div class="container">

            <div class="extension-nav">
                <ul class="pt-2">


                    @if (accountService.IsSignin(User))
                    {
                        <li>
                            <a id="loginbtn" asp-action="Index" asp-controller="Default" asp-area="Admin_Blog" class="btn btn-link p-1 ml-2">
                                <img src="/tieco/Images/Svg/account-user-profile-gui-web.svg" />
                                پنل مدیریت
                            </a>
                        </li>
                        <li>
                            <a id="loginbtn" asp-action="LogOut" asp-controller="Account" class="btn btn-link p-1 ml-2">
                                <img src="/tieco/Images/Svg/account-user-delete-profile-gui-web.svg" />
                                خروج
                            </a>
                        </li>

                    }
                    else
                    {
                        <li>
                            <a id="loginbtn" href="/login" class="btn btn-link p-1 ml-2">
                                <img src="/tieco/Images/Svg/login.svg" /> ورود
                            </a>
                        </li>
                    }
                    <li>
                        <a id="loginbtn" href="/register" class="btn btn-link p-1 ml-2">
                            <img src="/tieco/Images/Svg/user.svg" />عضویت
                        </a>
                    </li>
                </ul>
            </div>
            <div class="sina-nav-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar-menu">
                    <i class="fa fa-bars"></i>
                </button>
                <a class="sina-brand pl-4 d-lg-none d-block" href="Index.html">
                    <img src="/tieco/Images/logo.png" class="img-fluid" />
                </a>
            </div>

            <div class="collapse navbar-collapse" id="navbar-menu">
                <ul class="sina-menu sina-menu-center">
                    <li><a href="Index.html">صفحه اصلی</a></li>

                    <li><a href="AboutUs.html">درباره ما</a></li>
                    <li><a href="ContactUs.html">ارتباط با ما</a></li>
                </ul>

            </div>
        </div>
    </nav>
</header>
