<section id="tophead" class="container-fluid p-2 grad-bg">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-sm-5 d-lg-block d-none">
                <a href="#"><img src="/tieco/Images/logo2.png" class="img-fluid" /></a>
            </div>

            <div class="col-lg-3 col-6 mr-auto">
                <div class="d-flex flex-column">
                    <span class="text-white">
                        امروز : دوشنبه 22 ارديبهشت 1399
                    </span>
                    <form class="d-sm-block d-none">
                        <div class="input-group mb-3">
                            <input type="text" class="form-control" placeholder="جستجو ..">
                            <div class="input-group-prepend">
                                <button class="btn btn-success" type="submit"><i class="fa fa-search"></i></button>
                            </div>
                        </div>
                    </form>
                </div>

            </div>

            <div class="col-lg-1 col-6  text-left">
                <img src="/tieco/Images/flag.png" class="pt-sm-4 flag" />
            </div>
        </div>
    </div>
</section>
