

@model WebLog_SliderDto

@{
    ViewData["Title"] = $"  ویرایش  اسلایدر  ✨ {Model.WebLog_Slider_Title} ";
}




<div class="content d-flex flex-column flex-column-fluid" id="kt_content">
    <!--begin::Container-->
    <div class="container-xxl" id="kt_content_container">
        <!--begin::Form-->
        <form id="kt_ecommerce_add_product_form" class="form d-flex flex-column flex-lg-row was-validated"
              asp-action="Edit" method="post" enctype="multipart/form-data">
            <input hidden asp-for="Id" />
            <input hidden value="@ViewBag.WebLog_Slider_Image" name="_WebLog_Slider_Image" />
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <!--begin::کناری column-->
            <div class="d-flex flex-column gap-7 gap-lg-10 w-100 w-lg-300px mb-7 me-lg-10">
                <!--begin::Thumbnail settings-->
                <div class="card card-flush py-4">
                    <!--begin::Card header-->
                    <div class="card-header">
                        <!--begin::Card title-->
                        <div class="card-title">
                            <h2>تصویر جدید  </h2>
                        </div>
                        <!--end::Card title-->
                    </div>
                    <!--end::Card header-->
                    <!--begin::Card body-->
                    <div class="card-body text-center pt-0">
                        <!--begin::Image input-->
                        <div class="image-input image-input-empty image-input-outline mb-3" data-kt-image-input="true" style="background-image: url(assets/media/svg/files/blank-image.svg)">
                            <!--begin::نمایش existing avatar-->
                            <div class="image-input-wrapper w-150px h-150px"></div>

                            <!--end::نمایش existing avatar-->
                            <!--begin::Tags-->
                            <label class="btn btn-icon btn-circle btn-active-color-primary w-25px h-25px bg-body shadow" data-kt-image-input-action="change" data-bs-toggle="tooltip" title="تعویض آواتار">
                                <i class="bi bi-pencil-fill fs-7"></i>
                                <!--begin::Inputs-->
                                <input type="file" asp-for="WebLog_Slider_Image" accept=".png, .jpg, .jpeg" />
                                <input type="hidden" name="avatar_remove" />
                                <!--end::Inputs-->
                            </label>
                            <!--end::Tags-->
                            <!--begin::انصراف-->
                            <span class="btn btn-icon btn-circle btn-active-color-primary w-25px h-25px bg-body shadow" data-kt-image-input-action="cancel" data-bs-toggle="tooltip" title="انصراف avatar">
                                <i class="bi bi-x fs-2"></i>
                            </span>
                            <!--end::انصراف-->
                            <!--begin::حذف-->
                            <span class="btn btn-icon btn-circle btn-active-color-primary w-25px h-25px bg-body shadow" data-kt-image-input-action="remove" data-bs-toggle="tooltip" title="حذف آواتار">
                                <i class="bi bi-x fs-2"></i>
                            </span>
                            <!--end::حذف-->
                        </div>
                        <!--end::Image input-->
                        <!--begin::توضیحات-->
                        <div class="text-muted fs-7">تصویر بندانگشتی محصول را تنظیم کنید. فقط فایل های تصویری *.png، *.jpg و *.jpeg پذیرفته می شوند</div>
                        <!--end::توضیحات-->
                    </div>
                    <!--end::Card body-->
                </div>
                <!--end::Thumbnail settings-->
                <!--begin::Thumbnail settings-->
                <div class="card card-flush py-4">
                    <!--begin::Card header-->
                    <div class="card-header">
                        <!--begin::Card title-->
                        <div class="card-title">
                            <h2>تصویر جاری  </h2>
                        </div>
                        <!--end::Card title-->
                    </div>
                    <!--end::Card header-->
                    <!--begin::Card body-->
                    <div class="card-body text-center pt-0">
                        <!--begin::Image input-->
                        <div class="image-input image-input-empty image-input-outline mb-3" data-kt-image-input="true" style="background-image: url(assets/media/svg/files/blank-image.svg)">
                            <img src="@ViewBag.WebLog_Slider_Image" height="200" width="250" />
                        </div>

                    </div>
                    <!--end::Card body-->
                </div>
                <!--end::Thumbnail settings-->

            </div>
            <!--end::کناری column-->
            <!--begin::Main column-->
            <div class="d-flex flex-column flex-row-fluid gap-7 gap-lg-10">
                <!--end:::Tabs-->
                <div class="d-flex justify-content-end">
                    <!--begin::Button-->
                    <a asp-action="Index" id="kt_ecommerce_add_product_cancel"
                       class="btn btn-light me-5">انصراف</a>
                    <!--end::Button-->
                    <!--begin::Button-->
                    <button type="submit" id="kt_ecommerce_add_product_submit" class="btn btn-primary">
                        <span class="indicator-label">ذخیره تغییرات</span>
                        <span class="indicator-progress">
                            لطفا صبر کنید...
                            <span class="spinner-border spinner-border-sm align-middle ms-2"></span>
                        </span>
                    </button>
                    <!--end::Button-->


                </div>
                @if (ViewBag.error_Url_Meta != null)
                {
                    <div class="text-center ">
                        <span class=" badge rounded-pill bg-danger  text-white p-5">
                            @ViewBag.error_Url_Meta
                        </span>
                    </div>
                }
                @if (ViewBag.error_RepeatOrder != null)
                {
                    <div class="text-center ">
                        <span class=" badge rounded-pill bg-danger  text-white p-5">
                            @ViewBag.error_RepeatOrder
                        </span>
                    </div>
                }
                <!--begin::Tab content-->
                <div class="tab-content">
                    <!--begin::Tab pane-->
                    <div class="tab-pane fade show active" id="kt_ecommerce_add_product_general" role="tab-panel">
                        <div class="d-flex flex-column gap-7 gap-lg-10">

                            <div class="container mt-3">
                                <div id="accordion">
                                    <div class="card">
                                        <div class="card-header bg-info " data-bs-toggle="collapse" href="#collapseOne">
                                            <a class="btn text-white">
                                                ورودی های عمومی

                                            </a>
                                        </div>
                                        <div id="collapseOne" class="collapse show" data-bs-parent="#accordion">
                                            <div class="card-body">
                                                <!--begin::عمومی options-->
                                                <div class="card card-flush py-4">

                                                    <!--end::Card header-->
                                                    <!--begin::Card body-->
                                                    <div class="card-body pt-0">





                                                        <!--begin::Input Label-->
                                                        <div class="mb-10 fv-row">
                                                            <!--begin::Tags-->
                                                            <label class="required form-label" asp-for="WebLog_Slider_Title"> </label>
                                                            <!--end::Tags-->
                                                            <!--begin::Input-->
                                                            <input type="text" class="form-control mb-2 is-invalid" placeholder="عنوان  " asp-for="WebLog_Slider_Title" required />
                                                            <!--end::Input-->
                                                            <span asp-validation-for="WebLog_Slider_Title" class="text-danger"></span>

                                                        </div>
                                                        <!--end::Input Label-->
                                                        <!--begin::Input Label-->
                                                        <div class="mb-10 fv-row">
                                                            <!--begin::Tags-->
                                                            <label class="required form-label" asp-for="WebLog_Slider_Link"> </label>
                                                            <!--end::Tags-->
                                                            <!--begin::Input-->
                                                            <input type="text" class="form-control mb-2 is-invalid" placeholder="لینک  " asp-for="WebLog_Slider_Link" required />
                                                            <!--end::Input-->

                                                            <span asp-validation-for="WebLog_Slider_Link" class="text-danger"></span>

                                                        </div>
                                                        <!--end::Input Label-->
                                                        <!--begin::Input Label-->
                                                        <div class="mb-10 fv-row">
                                                            <!--begin::Tags-->
                                                            <label class=" form-label" asp-for="WebLog_Slider_Order"> </label>
                                                            <!--end::Tags-->
                                                            <!--begin::Input-->
                                                            <input class="form-control mb-2 " placeholder="مرتب سازی " asp-for="WebLog_Slider_Order"  />
                                                            <!--end::Input-->

                                                            <span asp-validation-for="WebLog_Slider_Order" class="text-danger"></span>

                                                        </div>
                                                        <!--end::Input Label-->
                                                        <!--begin::Input group-->
                                                        <div class="mb-10 fv-row">
                                                            <!--begin::Tags-->
                                                            <label class="required form-label" asp-for="WebLog_Slider_Category_IsActive"> </label>
                                                            <!--end::Tags-->
                                                            <!--begin::Input-->
                                                            <input class="form-check-input" type="checkbox" asp-for="WebLog_Slider_Category_IsActive">
                                                            <!--end::Input-->

                                                            <span asp-validation-for="WebLog_Slider_Category_IsActive" class="text-danger"></span>

                                                        </div>
                                                        <!--end::Input group-->
                                                        <!--begin::Input Label-->
                                                        <div class="mb-10 fv-row">
                                                            <!--begin::Tags-->
                                                            <label class=" form-label" asp-for="WebLog_Slider_CategoryId"> </label>
                                                            <!--end::Tags-->
                                                            <select asp-items="ViewBag.WebLog_Slider_CategoryId" asp-for="WebLog_Slider_CategoryId" class="form-control mb-2">
                                                            </select>
                                                            <span asp-validation-for="WebLog_Slider_CategoryId" class="text-danger"></span>

                                                        </div>
                                                        <!--end::Input Label-->
                                                        <!--begin::Input group-->
                                                        <div class="mb-10 fv-row">
                                                            <!--begin::Tags-->
                                                            <label class="required form-label" asp-for="WebLog_Slider_Group_IsActive"> </label>
                                                            <!--end::Tags-->
                                                            <!--begin::Input-->
                                                            <input class="form-check-input" type="checkbox" asp-for="WebLog_Slider_Group_IsActive">
                                                            <!--end::Input-->

                                                            <span asp-validation-for="WebLog_Slider_Group_IsActive" class="text-danger"></span>

                                                        </div>
                                                        <!--end::Input group-->
                                                        <!--begin::Input Label-->
                                                        <div class="mb-10 fv-row">
                                                            <!--begin::Tags-->
                                                            <label class=" form-label" asp-for="WebLog_Slider_GroupId"> </label>
                                                            <!--end::Tags-->
                                                            <select asp-items="ViewBag.WebLog_Slider_GroupId" asp-for="WebLog_Slider_GroupId" class="form-control mb-2">
                                                            </select>
                                                            <span asp-validation-for="WebLog_Slider_GroupId" class="text-danger"></span>

                                                        </div>
                                                        <!--end::Input Label-->
                                                        <!--begin::Input group-->
                                                        <div class="mb-10 fv-row">
                                                            <!--begin::Tags-->
                                                            <label class="required form-label" asp-for="WebLog_Slider_Blog_IsActive"> </label>
                                                            <!--end::Tags-->
                                                            <!--begin::Input-->
                                                            <input class="form-check-input" type="checkbox" asp-for="WebLog_Slider_Blog_IsActive">
                                                            <!--end::Input-->

                                                            <span asp-validation-for="WebLog_Slider_Blog_IsActive" class="text-danger"></span>

                                                        </div>
                                                        <!--end::Input group-->
                                                        <!--begin::Input Label-->
                                                        <div class="mb-10 fv-row">
                                                            <!--begin::Tags-->
                                                            <label class=" form-label" asp-for="WebLog_Slider_BlogId"> </label>
                                                            <!--end::Tags-->
                                                            <select asp-items="ViewBag.WebLog_Slider_BlogId" asp-for="WebLog_Slider_BlogId" class="form-control mb-2">
                                                            </select>
                                                            <span asp-validation-for="WebLog_Slider_BlogId" class="text-danger"></span>

                                                        </div>
                                                        <!--end::Input Label-->
                                                        <!--begin::Input group-->
                                                        <div class="mb-10 fv-row">
                                                            <!--begin::Tags-->
                                                            <label class="required form-label" asp-for="WebLog_Slider_Label_IsActive"> </label>
                                                            <!--end::Tags-->
                                                            <!--begin::Input-->
                                                            <input class="form-check-input" type="checkbox" asp-for="WebLog_Slider_Label_IsActive">
                                                            <!--end::Input-->

                                                            <span asp-validation-for="WebLog_Slider_Label_IsActive" class="text-danger"></span>

                                                        </div>
                                                        <!--end::Input group-->
                                                        <!--begin::Input Label-->
                                                        <div class="mb-10 fv-row">
                                                            <!--begin::Tags-->
                                                            <label class=" form-label" asp-for="WebLog_Slider_LabelId"> </label>
                                                            <!--end::Tags-->
                                                            <select asp-items="ViewBag.WebLog_Slider_LabelId" asp-for="WebLog_Slider_LabelId" class="form-control mb-2">
                                                            </select>
                                                            <span asp-validation-for="WebLog_Slider_LabelId" class="text-danger"></span>

                                                        </div>
                                                        <!--end::Input Label-->
                                                        <!--begin::Input group-->
                                                        <div class="mb-10 fv-row">
                                                            <!--begin::Tags-->
                                                            <label class="required form-label" asp-for="WebLog_Slider_IsActive_TopPage"> </label>
                                                            <!--end::Tags-->
                                                            <!--begin::Input-->
                                                            <input class="form-check-input" type="checkbox" asp-for="WebLog_Slider_IsActive_TopPage">
                                                            <!--end::Input-->

                                                            <span asp-validation-for="WebLog_Slider_IsActive_TopPage" class="text-danger"></span>

                                                        </div>
                                                        <!--end::Input group-->
                                                        <!--begin::Input group-->
                                                        <div class="mb-10 fv-row">
                                                            <!--begin::Tags-->
                                                            <label class="required form-label" asp-for="WebLog_Slider_IsActive_MiddlePage"> </label>
                                                            <!--end::Tags-->
                                                            <!--begin::Input-->
                                                            <input class="form-check-input" type="checkbox" asp-for="WebLog_Slider_IsActive_MiddlePage">
                                                            <!--end::Input-->

                                                            <span asp-validation-for="WebLog_Slider_IsActive_MiddlePage" class="text-danger"></span>

                                                        </div>
                                                        <!--end::Input group-->
                                                        <!--begin::Input group-->
                                                        <div class="mb-10 fv-row">
                                                            <!--begin::Tags-->
                                                            <label class="required form-label" asp-for="WebLog_Slider_IsActive_BottomPage"> </label>
                                                            <!--end::Tags-->
                                                            <!--begin::Input-->
                                                            <input class="form-check-input" type="checkbox" asp-for="WebLog_Slider_IsActive_BottomPage">
                                                            <!--end::Input-->

                                                            <span asp-validation-for="WebLog_Slider_IsActive_BottomPage" class="text-danger"></span>

                                                        </div>
                                                        <!--end::Input group-->
                                                        <hr />

                                                    </div>
                                                    <!--end::Card header-->
                                                </div>
                                                <!--end::عمومی options-->
                                            </div>
                                        </div>
                                    </div>
                 

                                </div>
                            </div>

                        </div>
                    </div>
                    <!--end::Tab pane-->

                </div>
                <!--end::Tab content-->
                <div class="d-flex justify-content-end">
                    <!--begin::Button-->
                    <a asp-action="Index" id="kt_ecommerce_add_product_cancel"
                       class="btn btn-light me-5">انصراف</a>
                    <!--end::Button-->
                    <!--begin::Button-->
                    <button type="submit" id="kt_ecommerce_add_product_submit" class="btn btn-primary">
                        <span class="indicator-label">ذخیره تغییرات</span>
                        <span class="indicator-progress">
                            لطفا صبر کنید...
                            <span class="spinner-border spinner-border-sm align-middle ms-2"></span>
                        </span>
                    </button>
                    <!--end::Button-->
                </div>
            </div>
            <!--end::Main column-->



        </form>
        <!--end::Form-->
    </div>
    <!--end::Container-->
</div>
@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}

}
