
<!DOCTYPE html>



<html direction="rtl" dir="rtl" style="direction: rtl">

<head>
    <base href="/">
    <title>@ViewData["Title"] </title>
    <meta charset="utf-8" />
    <link rel="shortcut icon" href="/assets/media/logos/favicon.ico" />
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <partial name="_Style" />
    @RenderSection("Style", required: false)
</head>

<body id="kt_body" class="header-fixed header-tablet-and-mobile-fixed aside-fixed aside-secondary-disabled">

    <div class="d-flex flex-column flex-root">

        <div class="page d-flex flex-row flex-column-fluid">

            <partial name="_Sidebar" />

            <div class="wrapper d-flex flex-column flex-row-fluid" id="kt_wrapper">
                <partial name="_Header" />
                @RenderBody()



            </div>

        </div>

    </div>


    <partial name="_Script" />
    @RenderSection("Scripts", required: false)

</body>

</html>

