@*@inject Microsoft.AspNetCore.Identity.UserManager<Microsoft.AspNetCore.Identity.IdentityUser> userManager;
@inject Service.Repository.Interface.IPersonService personService;
@{
    var userId = userManager.GetUserId(User);
    var person = personService.TableNoTracking.Where(x => x.UserId == userId).Select(x => new Person()
    {
        FirstName = x.FirstName,
        LastName = x.LastName,
        Description = x.Description,
        AvatarImage = x.AvatarImage
    }).FirstOrDefault();
}*@
<!--begin::Header-->
<div id="kt_header" style="" class="header bg-white align-items-stretch">
    <!--begin::Container-->
    <div class="container-fluid d-flex align-items-stretch justify-content-between">
        <!--begin::کناری mobile toggle-->
        <div class="d-flex align-items-center d-lg-none ms-n3 me-1" title="مشاهده aside menu">
            <div class="btn btn-icon btn-active-color-primary w-40px h-40px" id="kt_aside_toggle">
                <!--begin::Svg Icon | path: icons/duotune/abstract/abs015.svg-->
                <span class="svg-icon svg-icon-1">
                    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none">
                        <path d="M21 7H3C2.4 7 2 6.6 2 6V4C2 3.4 2.4 3 3 3H21C21.6 3 22 3.4 22 4V6C22 6.6 21.6 7 21 7Z" fill="currentColor" />
                        <path opacity="0.3" d="M21 14H3C2.4 14 2 13.6 2 13V11C2 10.4 2.4 10 3 10H21C21.6 10 22 10.4 22 11V13C22 13.6 21.6 14 21 14ZM22 20V18C22 17.4 21.6 17 21 17H3C2.4 17 2 17.4 2 18V20C2 20.6 2.4 21 3 21H21C21.6 21 22 20.6 22 20Z" fill="currentColor" />
                    </svg>
                </span>
                <!--end::Svg Icon-->
            </div>
        </div>
        <!--end::کناری mobile toggle-->
        <!--begin::Mobile logo-->
        <div class="d-flex align-items-center flex-grow-1 flex-lg-grow-0">
            <a href="../../demo4/dist/index.html" class="d-lg-none">
                <img alt="Logo" src="/assets/media/logos/logo-demo4-mobile.svg" class="h-30px" />
            </a>
        </div>
        <!--end::Mobile logo-->
        <div class="d-flex align-items-center" id="kt_header_wrapper">
            <!--begin::Page title-->
            <div class="page-title d-flex flex-column align-items-start justify-content-center flex-wrap me-lg-20 pb-2 pb-lg-0" data-kt-swapper="true" data-kt-swapper-mode="prepend" data-kt-swapper-parent="{default: '#kt_content_container', lg: '#kt_header_wrapper'}">
                <!--begin::Heading-->
                <h1 class="text-dark fw-bolder my-1 fs-3 lh-1"> @ViewData["Title"]</h1>
                <!--end::Heading-->
            </div>
            <!--end::Page title=-->
        </div>
        <!--begin::Wrapper-->
        <div class="d-flex align-items-stretch justify-content-between flex-lg-grow-1">
            <!--begin::Navbar-->
            <div class="d-flex align-items-stretch" id="kt_header_nav">
                <!--begin::Menu wrapper-->
                <div class="header-menu align-items-stretch" data-kt-drawer="true" data-kt-drawer-name="header-menu" data-kt-drawer-activate="{default: true, lg: false}" data-kt-drawer-overlay="true" data-kt-drawer-width="{default:'200px', '300px': '250px'}" data-kt-drawer-direction="end" data-kt-drawer-toggle="#kt_header_menu_mobile_toggle" data-kt-swapper="true" data-kt-swapper-mode="prepend" data-kt-swapper-parent="{default: '#kt_body', lg: '#kt_header_nav'}">
                    <!--begin::Menu-->
                    <div class="menu menu-lg-rounded menu-column menu-lg-row menu-state-bg menu-title-gray-600 menu-state-title-primary menu-state-icon-primary menu-state-bullet-primary menu-arrow-gray-400 fw-bold fs-6 my-5 my-lg-0 align-items-stretch" id="#kt_header_menu" data-kt-menu="true">
                        <div data-kt-menu-trigger="click" data-kt-menu-placement="bottom-end" class="menu-item here show menu-lg-down-accordion me-lg-1">
                            <a  href="/">

                                <span class="menu-link py-3">
                                    <span class="menu-title">خانه </span>
                                    <span class="menu-arrow d-lg-none"></span>
                                </span>
                            </a>
                        </div>
                    </div>
                    <div class="menu menu-lg-rounded menu-column menu-lg-row menu-state-bg menu-title-gray-600 menu-state-title-primary menu-state-icon-primary menu-state-bullet-primary menu-arrow-gray-400 fw-bold fs-6 my-5 my-lg-0 align-items-stretch" id="#kt_header_menu" data-kt-menu="true">
                        <div data-kt-menu-trigger="click" data-kt-menu-placement="bottom-end" class="menu-item here show menu-lg-down-accordion me-lg-1">
                            <a  asp-action="Index" asp-controller="Default" asp-area="Admin_Blog">

                                <span class="menu-link py-3">
                                    <span class="menu-title">داشبورد </span>
                                    <span class="menu-arrow d-lg-none"></span>
                                </span>
                            </a>
                        </div>
                    </div>
                    <div class="menu menu-lg-rounded menu-column menu-lg-row menu-state-bg menu-title-gray-600 menu-state-title-primary menu-state-icon-primary menu-state-bullet-primary menu-arrow-gray-400 fw-bold fs-6 my-5 my-lg-0 align-items-stretch" id="#kt_header_menu" data-kt-menu="true">
                        <div data-kt-menu-trigger="click" data-kt-menu-placement="bottom-end" class="menu-item here show menu-lg-down-accordion me-lg-1">
                            <span class="menu-link py-3">
                                <span class="menu-title">تنظیمات</span>
                                <span class="menu-arrow d-lg-none"></span>
                            </span>
                            <div class="menu-sub menu-sub-lg-down-accordion menu-sub-lg-dropdown menu-rounded-0 py-lg-4 w-lg-225px">
                                <div class="menu-item">
                                    <a class="menu-link py-3" asp-action="Index" asp-controller="AbouteMes" asp-area="Admin_Blog">
                                        <span class="menu-bullet">
                                            <span class="bullet bullet-dot"></span>
                                        </span>
                                        <span class="menu-title">درباره ما</span>
                                    </a>
                                </div>
                                <div class="menu-item">
                                    <a class="menu-link py-3" asp-action="Index" asp-controller="ContactUs" asp-area="Admin_Blog">
                                        <span class="menu-bullet">
                                            <span class="bullet bullet-dot"></span>
                                        </span>
                                        <span class="menu-title">تماس با ما</span>
                                    </a>
                                </div>
                                <div class="menu-item">
                                    <a class="menu-link py-3" asp-action="Index" asp-controller="Settings" asp-area="Admin_Blog">
                                        <span class="menu-bullet">
                                            <span class="bullet bullet-dot"></span>
                                        </span>
                                        <span class="menu-title">عمومی</span>
                                    </a>
                                </div>

                                <div class="menu-item">
                                    <a class="menu-link py-3" asp-action="Index" asp-controller="SettingAdvertisings" asp-area="Admin_Blog">
                                        <span class="menu-bullet">
                                            <span class="bullet bullet-dot"></span>
                                        </span>
                                        <span class="menu-title">تبلیغات</span>
                                    </a>
                                </div>
                                <div class="menu-item">
                                    <a class="menu-link py-3" asp-action="Index" asp-controller="SettingsLogoes" asp-area="Admin_Blog">
                                        <span class="menu-bullet">
                                            <span class="bullet bullet-dot"></span>
                                        </span>
                                        <span class="menu-title">لوگو</span>
                                    </a>
                                </div>
                                <div class="menu-item">
                                    <a class="menu-link py-3" asp-action="Index" asp-controller="SettingsCopyRights" asp-area="Admin_Blog">
                                        <span class="menu-bullet">
                                            <span class="bullet bullet-dot"></span>
                                        </span>
                                        <span class="menu-title">کپی رایت</span>
                                    </a>
                                </div>
                                <div class="menu-item">
                                    <a class="menu-link py-3" asp-action="Index" asp-controller="SettingsMetas" asp-area="Admin_Blog">
                                        <span class="menu-bullet">
                                            <span class="bullet bullet-dot"></span>
                                        </span>
                                        <span class="menu-title"> متا تگ</span>
                                    </a>
                                </div>
                                <div class="menu-item">
                                    <a class="menu-link py-3" asp-action="Index" asp-controller="SettingsEnemads" asp-area="Admin_Blog">
                                        <span class="menu-bullet">
                                            <span class="bullet bullet-dot"></span>
                                        </span>
                                        <span class="menu-title">ای نماد</span>
                                    </a>
                                </div>
                                <div class="menu-item">
                                    <a class="menu-link py-3" asp-action="Index" asp-controller="Socials" asp-area="Admin_Blog">
                                        <span class="menu-bullet">
                                            <span class="bullet bullet-dot"></span>
                                        </span>
                                        <span class="menu-title">شبکه های اجتماعی</span>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>


                    <div class="menu menu-lg-rounded menu-column menu-lg-row menu-state-bg menu-title-gray-600 menu-state-title-primary menu-state-icon-primary menu-state-bullet-primary menu-arrow-gray-400 fw-bold fs-6 my-5 my-lg-0 align-items-stretch" id="#kt_header_menu" data-kt-menu="true">
                        <div data-kt-menu-trigger="click" data-kt-menu-placement="bottom-end" class="menu-item here show menu-lg-down-accordion me-lg-1">
                            <span class="menu-link py-3">
                                <span class="menu-title">مقالات</span>
                                <span class="menu-arrow d-lg-none"></span>
                            </span>
                            <div class="menu-sub menu-sub-lg-down-accordion menu-sub-lg-dropdown menu-rounded-0 py-lg-4 w-lg-225px">
                                <div class="menu-item">
                                    <a class="menu-link py-3" asp-action="Index" asp-controller="WebLogCategory" asp-area="Admin_Blog">
                                        <span class="menu-bullet">
                                            <span class="bullet bullet-dot"></span>
                                        </span>
                                        <span class="menu-title">دسته ها</span>
                                    </a>
                                </div>


                                <div class="menu-item">
                                    <a class="menu-link py-3" asp-action="Index" asp-controller="WebLogLabel" asp-area="Admin_Blog">
                                        <span class="menu-bullet">
                                            <span class="bullet bullet-dot"></span>
                                        </span>
                                        <span class="menu-title">برچسب ها</span>
                                    </a>
                                </div>
                                <div class="menu-item">
                                    <a class="menu-link py-3" asp-action="Index" asp-controller="WebLogSlider" asp-area="Admin_Blog">
                                        <span class="menu-bullet">
                                            <span class="bullet bullet-dot"></span>
                                        </span>
                                        <span class="menu-title">اسلایدر ها</span>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>

                    <!--end::Menu-->
                </div>
                <!--end::Menu wrapper-->
            </div>
            <!--end::Navbar-->
      
        </div>
        <!--end::Wrapper-->
    </div>
    <!--end::Container-->
</div>
<!--end::Header-->