@inject Microsoft.AspNetCore.Identity.UserManager<Microsoft.AspNetCore.Identity.IdentityUser> userManager;
@inject ISettingsLogoesService logoService;
@{
    var userId = userManager.GetUserId(User);

    var logo = logoService.ShowAllSettingsLogo(userId);
}
<!--begin::کناری-->
<div id="kt_aside" class="aside bg-primary" data-kt-drawer="true" data-kt-drawer-name="aside" data-kt-drawer-activate="{default: true, lg: false}" data-kt-drawer-overlay="true" data-kt-drawer-width="auto" data-kt-drawer-direction="start" data-kt-drawer-toggle="#kt_aside_toggle">
    <!--begin::Logo-->
    <div class="aside-logo d-none d-lg-flex flex-column align-items-center flex-column-auto py-8" id="kt_aside_logo">
        @if (logo!=null)
        {
            <a href="/">
                <img alt="@logo.Settings_title_Logo" src="@logo.Settings_Image_Logo" class="h-55px" />
            </a>
        }

    </div>
    <!--end::Logo-->
    <!--begin::Nav-->
    <div class="aside-nav d-flex flex-column align-lg-center flex-column-fluid w-100 pt-5 pt-lg-0" id="kt_aside_nav">
        <!--begin::اصلی menu-->
        <div id="kt_aside_menu" class="menu menu-column menu-title-gray-600 menu-state-primary menu-state-icon-primary menu-state-bullet-primary menu-arrow-gray-500 fw-bold fs-6" data-kt-menu="true">

            <div data-kt-menu-trigger="click" data-kt-menu-placement="left-start" class="menu-item py-3">
                <span class="menu-link menu-center" title="تنظیمات" data-bs-toggle="tooltip" data-bs-trigger="hover" data-bs-dismiss="click" data-bs-placement="right">
                    <span class="menu-icon me-0">
                        <i class="bi bi-gear fs-2"></i>
                    </span>
                </span>
                <div class="menu-sub menu-sub-dropdown w-225px w-lg-275px px-1 py-4">
                    <div class="menu-item">
                        <div class="menu-content">
                            <span class="menu-section fs-5 fw-bolder ps-1 py-1">تنظیمات</span>
                        </div>
                    </div>
                    <div class="menu-item">
                        <a class="menu-link" asp-action="Index" asp-controller="AbouteMes" asp-area="Admin_Blog" title="بیش از 200 کامپوننت داخلی، پلاگین و راه حل های آماده برای استفاده را بررسی کنید" data-bs-toggle="tooltip" data-bs-trigger="hover" data-bs-dismiss="click" data-bs-placement="right">
                            <span class="menu-icon">
                                <i class="bi bi-grid fs-3"></i>
                            </span>
                            <span class="menu-title"> درباره ما</span>
                        </a>
                    </div>
                    <div class="menu-item">
                        <a class="menu-link" asp-action="Index" asp-controller="ContactUs" asp-area="Admin_Blog" title="بیش از 200 کامپوننت داخلی، پلاگین و راه حل های آماده برای استفاده را بررسی کنید" data-bs-toggle="tooltip" data-bs-trigger="hover" data-bs-dismiss="click" data-bs-placement="right">
                            <span class="menu-icon">
                                <i class="bi bi-grid fs-3"></i>
                            </span>
                            <span class="menu-title"> تماس با ما</span>
                        </a>
                    </div>
                    <div class="menu-item">
                        <a class="menu-link" asp-action="Index" asp-controller="Settings" asp-area="Admin_Blog" title="بیش از 200 کامپوننت داخلی، پلاگین و راه حل های آماده برای استفاده را بررسی کنید" data-bs-toggle="tooltip" data-bs-trigger="hover" data-bs-dismiss="click" data-bs-placement="right">
                            <span class="menu-icon">
                                <i class="bi bi-grid fs-3"></i>
                            </span>
                            <span class="menu-title"> عمومی</span>
                        </a>
                    </div>
                    <div class="menu-item">
                        <a class="menu-link" asp-action="Index" asp-controller="SettingAdvertisings" asp-area="Admin_Blog" title="بیش از 200 کامپوننت داخلی، پلاگین و راه حل های آماده برای استفاده را بررسی کنید" data-bs-toggle="tooltip" data-bs-trigger="hover" data-bs-dismiss="click" data-bs-placement="right">
                            <span class="menu-icon">
                                <i class="bi bi-grid fs-3"></i>
                            </span>
                            <span class="menu-title"> تبلیغات</span>
                        </a>
                    </div>
                    <div class="menu-item">
                        <a class="menu-link" asp-action="Index" asp-controller="SettingsLogoes" asp-area="Admin_Blog" title="اسناد کامل را بررسی کنید" data-bs-toggle="tooltip" data-bs-trigger="hover" data-bs-dismiss="click" data-bs-placement="right">
                            <span class="menu-icon">
                                <i class="bi bi-box fs-3"></i>
                            </span>
                            <span class="menu-title"> لوگو</span>
                        </a>
                    </div>
                    <div class="menu-item">
                        <a class="menu-link" asp-action="Index" asp-controller="SettingsCopyRights" asp-area="Admin_Blog" title="طرح خود را بسازید ، HTML را برای ادغام سمت سرور نمایش داده و صادر کنید" data-bs-toggle="tooltip" data-bs-trigger="hover" data-bs-dismiss="click" data-bs-placement="right">
                            <span class="menu-icon">
                                <i class="bi bi-layers fs-3"></i>
                            </span>
                            <span class="menu-title"> کپی رایت</span>
                        </a>
                    </div>
                    <div class="menu-item">
                        <a class="menu-link" asp-action="Index" asp-controller="SettingsMetas" asp-area="Admin_Blog">
                            <span class="menu-icon">
                                <i class="bi bi-card-text fs-3"></i>
                            </span>
                            <span class="menu-title">  متا تگ</span>
                        </a>
                    </div>
                    <div class="menu-item">
                        <a class="menu-link" asp-action="Index" asp-controller="SettingsEnemads" asp-area="Admin_Blog">
                            <span class="menu-icon">
                                <i class="bi bi-card-text fs-3"></i>
                            </span>
                            <span class="menu-title">   ای نماد</span>
                        </a>
                    </div>
                    <div class="menu-item">
                        <a class="menu-link" asp-action="Index" asp-controller="Socials" asp-area="Admin_Blog">
                            <span class="menu-icon">
                                <i class="bi bi-card-text fs-3"></i>
                            </span>
                            <span class="menu-title">    شبکه های اجتماعی</span>
                        </a>
                    </div>
                </div>
            </div>
            <div data-kt-menu-trigger="click" data-kt-menu-placement="left-start" class="menu-item py-3">
                <span class="menu-link menu-center" title="مقالات" data-bs-toggle="tooltip" data-bs-trigger="hover" data-bs-dismiss="click" data-bs-placement="right">
                    <span class="menu-icon me-0">
                        <i class="bi bi-calendar-check fs-2x"></i>                    </span>
                </span>
                <div class="menu-sub menu-sub-dropdown w-225px w-lg-275px px-1 py-4">
                    <div class="menu-item">
                        <div class="menu-content">
                            <span class="menu-section fs-5 fw-bolder ps-1 py-1">مقالات</span>
                        </div>
                    </div>
                    <div class="menu-item">
                        <a class="menu-link" asp-action="Index" asp-controller="WebLogCategory" asp-area="Admin_Blog" title="دسته بندی " data-bs-toggle="tooltip" data-bs-trigger="hover" data-bs-dismiss="click" data-bs-placement="right">
                            <span class="menu-icon">
                                <i class="bi bi-grid fs-3"></i>
                            </span>
                            <span class="menu-title">دسته ها</span>
                        </a>
                    </div>

                    <div class="menu-item">
                        <a class="menu-link" asp-action="Index" asp-controller="WebLogLabel" asp-area="Admin_Blog" title="برچسب  " data-bs-toggle="tooltip" data-bs-trigger="hover" data-bs-dismiss="click" data-bs-placement="right">
                            <span class="menu-icon">
                                <i class="bi bi-layers fs-3"></i>
                            </span>
                            <span class="menu-title">برچسب ها</span>
                        </a>
                    </div>
                    <div class="menu-item">
                        <a class="menu-link" asp-action="Index" asp-controller="WebLogSlider" asp-area="Admin_Blog" title="اسلایدر" data-bs-toggle="tooltip" data-bs-trigger="hover" data-bs-dismiss="click" data-bs-placement="right">
                            <span class="menu-icon">
                                <i class="bi bi-layers fs-3"></i>
                            </span>
                            <span class="menu-title">اسلایدر ها</span>
                        </a>
                    </div>
                </div>
            </div>
        

        </div>
        <!--end::اصلی menu-->
    </div>

</div>
<!--end::کناری-->