

@model SettingAdvertisingDto

@{
    ViewData["Title"] = $"  تبلیغ  جدید   ";
}



<div class="content d-flex flex-column flex-column-fluid" id="kt_content">
    <!--begin::Container-->
    <div class="container-xxl" id="kt_content_container">
        <!--begin::Form-->
        <form id="kt_ecommerce_add_product_form" class="form d-flex flex-column flex-lg-row was-validated"
              asp-action="Create" method="post" enctype="multipart/form-data">


            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <!--begin::کناری column-->
            <!--end::کناری column-->
            <!--begin::Main column-->
            <div class="d-flex flex-column flex-row-fluid gap-7 gap-lg-10">

                <!--end:::Tabs-->
                <!--begin::Tab content-->
                <div class="tab-content">
                    <!--begin::Tab pane-->
                    <div class="tab-pane fade show active" id="kt_ecommerce_add_product_general" role="tab-panel">
                        <div class="d-flex flex-column gap-7 gap-lg-10">
                            <!--begin::عمومی options-->
                            <div class="card card-flush py-4">

                                <!--end::Card header-->
                                <!--begin::Card body-->
                                <div class="card-body pt-0">
                                    <!--begin::Input group-->
                                    <div class="mb-10 fv-row">
                                        <!--begin::Tags-->
                                        <label class="required form-label"> عنوان تبلیغ </label>
                                        <!--end::Tags-->
                                        <!--begin::Input-->
                                        <input type="text" class="form-control mb-2 is-invalid" placeholder="عنوان تبلیغ " asp-for="Settings_Advertising_Title" required />
                                        <!--end::Input-->
                                        <span asp-validation-for="Settings_Advertising_Title" class="text-danger"></span>

                                    </div>
                                    <!--end::Input group-->
                                    <!--begin::Input group-->
                                    <div class="mb-10 fv-row">
                                        <!--begin::Tags-->
                                        <label class="required form-label">
                                            لینک تبلیغ
                                        </label>
                                        <!--end::Tags-->

                                        <input type="text" class="form-control mb-2 is-invalid" placeholder="لینک تبلیغ  " asp-for="Settings_href_Title" required />

                                        <span asp-validation-for="Settings_href_Title" class="text-danger"></span>

                                    </div>
                                    <!--end::Input group-->
                                    <!--begin::Input group-->
                                    <div class="mb-10 fv-row">
                                        <!--begin::Tags-->
                                        <label class="required form-label"> عنوان جایگزین لینک</label>
                                        <!--end::Tags-->

                                        <input type="text" class="form-control mb-2 is-invalid" placeholder="عنوان جایگزین لینک  " asp-for="Settings_alt_Title" required />

                                        <span asp-validation-for="Settings_alt_Title" class="text-danger"></span>

                                    </div>
                                    <!--end::Input group-->
                                    <!--begin::Input group-->
                                    <div class="mb-10 fv-row">
                                        <!--begin::Tags-->
                                        <label class="required form-label"> نوان دوم جایگزین برای لینک</label>
                                        <!--end::Tags-->

                                        <input type="text" class="form-control mb-2 is-invalid" placeholder="عنوان دوم جایگزین برای لینک  " asp-for="Settings_title_Title" required />

                                        <span asp-validation-for="Settings_title_Title" class="text-danger"></span>

                                    </div>
                                    <!--end::Input group-->


                                </div>
                                <!--end::Card header-->
                            </div>
                            <!--end::عمومی options-->

                        </div>
                    </div>
                    <!--end::Tab pane-->

                </div>
                <!--end::Tab content-->
                <div class="d-flex justify-content-end">
                    <!--begin::Button-->
                    <a asp-action="Index" id="kt_ecommerce_add_product_cancel"
                       class="btn btn-light me-5">انصراف</a>
                    <!--end::Button-->
                    <!--begin::Button-->
                    <button type="submit" id="kt_ecommerce_add_product_submit" class="btn btn-primary">
                        <span class="indicator-label">ذخیره تغییرات</span>
                        <span class="indicator-progress">
                            لطفا صبر کنید...
                            <span class="spinner-border spinner-border-sm align-middle ms-2"></span>
                        </span>
                    </button>
                    <!--end::Button-->
                </div>
            </div>
            <!--end::Main column-->
        </form>
        <!--end::Form-->
    </div>
    <!--end::Container-->
</div>
@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}

