

@model SettingAdvertisingDto

@{
    ViewData["Title"] = $"  ویرایش  تبلیغ  ✨ {Model.Settings_Advertising_Title} ";
}


<div class="row justify-content-center">

    <div class="col-xl-10">

        <div class="row">
            <div class="col-xl-1">
            </div>
            <div class="col-xl-10">


                <div class="d-flex align-items-center mb-3">
                    <div>

                        <h1 class="page-header mb-0">@ViewData["Title"]</h1>
                    </div>
                    <div class="ms-auto">
                        <a asp-action="Index" class="btn btn-outline-danger">
                            بازگشت
                            <i class="fa fa-fast-backward fa-fw me-1"></i>

                        </a>
                    </div>
                </div>
                <br />
                <div id="formControls" class="mb-5">

                    <div class="card">
                        <div class="card-body pb-2">
                            <form asp-action="Edit" method="post" class="was-validated" enctype="multipart/form-data">
                                <input hidden asp-for="Id" />
                                <div asp-validation-summary="ModelOnly" class="text-danger"></div>

                                <div class="row">
                                    <div class="col-xl-12">


                                        <div class="form-group">
                                            <label asp-for="Settings_Advertising_Title" class="control-label"></label>
                                            <input asp-for="Settings_Advertising_Title" class="form-control" />
                                            <span asp-validation-for="Settings_Advertising_Title" class="text-danger"></span>
                                        </div>
                                        <div class="form-group">
                                            <label asp-for="Settings_href_Title" class="control-label"></label>
                                            <input asp-for="Settings_href_Title" class="form-control" />
                                            <span asp-validation-for="Settings_href_Title" class="text-danger"></span>
                                        </div>
                                        <div class="form-group">
                                            <label asp-for="Settings_alt_Title" class="control-label"></label>
                                            <input asp-for="Settings_alt_Title" class="form-control" />
                                            <span asp-validation-for="Settings_alt_Title" class="text-danger"></span>
                                        </div>
                                        <div class="form-group">
                                            <label asp-for="Settings_title_Title" class="control-label"></label>
                                            <input asp-for="Settings_title_Title" class="form-control" />
                                            <span asp-validation-for="Settings_title_Title" class="text-danger"></span>
                                        </div>

                                    </div>


                                </div>




                                <div class="row">
                                    <button type="submit" class="btn btn-lg btn-outline-indigo">
                                        <i class="fa fa-plus-square fa-fw me-1"></i>

                                        ویرایش تغییرات
                                    </button>
                                </div>
                            </form>

                        </div>
                        <div class="card-arrow">
                            <div class="card-arrow-top-left"></div>
                            <div class="card-arrow-top-right"></div>
                            <div class="card-arrow-bottom-left"></div>
                            <div class="card-arrow-bottom-right"></div>
                        </div>
                    </div>
                </div>




            </div>

            <div class="col-xl-1">
            </div>

        </div>

    </div>

</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}

