@{
    ViewData["Title"] = "Privacy Policy";
}
<h1>@ViewData["Title"]</h1>


<!-- Start Post Single Wrapper  -->
<div class="axil-privacy-area axil-section-gap bg-color-white">
    <div class="container">
        <div class="row">
            <div class="col-lg-10 offset-lg-1">
                <div class="content">
                    <div class="inner text-right">


                        <div class="section-title">
                            <h1 class="title">
                                درباره ما
                            </h1>
                        </div>
                        <!-- Start Post List Wrapper  -->
                        <div class="axil-post-list-area axil-section-gap bg-color-white">
                            <div class="container">
                                <div class="row">
                                    <div class="col-lg-12 col-xl-12">
                                        <!-- Start About Area  -->
                                        <div class="axil-about-us">
                                            <div class="inner text-justify">
                                                <h1 class="text-center" style="font-size:20px;">
                                                    <strong>
                                                        شرکت بازرسی خبرگان بین المللی تهران

                                                    </strong>
                                                </h1>
                                                <div class=" text-justify">
                                                    <p>
                                                        <b>
                                                            شرکت بازرسی خبرگان بین المللی تهران (Tieco)
                                                        </b> با پشتوانه تجربه ای بیش از دو دهه فعالیت به عنوان شرکت ایرانی بازرسی کننده کلیه مراحل بازرسی فنی اعم از بازرسی حین ساخت و نصب تجهیزات در طرح ها و پروژه های صنعتی ،

                                                        بازرسی انواع کالاهای وارداتی و صادراتی بازرسی کمی و کیفی از فراورده ها و محصولات تولیدی در سراسر جهان با سرمایه و پشتوانه مالی می باشد.
                                                    </p>
                                                    <p>
                                                        <b>
                                                            تایکو
                                                        </b> از سال ۲۰۱۵ موفق شد به عنوان نماینده شرکت بازرسی بالتیک کنترل دانمارک در ایران برگزیده شود و در ابعاد جهانی فعالیت خود را گسترده تر کند، <b>تایکو </b>از سال ۲۰۱۹ موفق شد به عنوان نماینده شرکت بازرسی HQTS چین در ایران برگزیده شود, به عنوان تنها شرکت بازرسی کالاهای صادراتی به کشور عراق کلیه محموله‌های بازرسی و گواهی کیفیت برای آنها صادر نماید .
                                                    </p>
                                                    <p>
                                                        <b>
                                                            شرکت خبرگان بین المللی تهران ( تایکو )
                                                        </b> با پشت سر گذاشتن موفقیت‌آمیز تمامی مراحل ارزیابی و ممیزی فدراسیون جهانی شرکت های بازرسی IFIA به عنوان نخستین شرکت بازرسی ایرانی به عضویت این نهاد بین‌المللی در آمده است و تنها منتظر تایید OFAC جهت اعطای گواهینامه مربوط و استفاده از نشان IFIA  می باشد.
                                                    </p>
                                                    <p>
                                                        <b>
                                                            تایکو
                                                        </b>مجموعه کاملی از خدمات بازرسی کالا به صنایع مختلف علی الخصوص صنایع کشاورزی ، مواد غذایی ،نفت و گاز و پتروشیمی را محور اصلی کسب و کار خود قرار داده و با حدود ۱۲۰ نفر سرمایه انسانی اعم از داخل و خارج از کشور با بیش از ۱۱ شعبه داخلی <b>( تهران ،شیراز ،اصفهان  ،مشهد ،زنجان  ،بوشهر ،گناوه  ،بندر عباس ،آبادان ،تبریز )</b> و همچنین ۱۲ شعبه و نمایندگی در خارج از کشور شامل <b>( آمریکا ،کانادا  ،انگلستان  ،امارات متحده عربی ،ایتالیا  ،اسپانیا  ،فرانسه  ،آلمان ،ترکیه  ،هلند ،چین )</b> با دارا بودن گواهینامه و مجوز از سازمان های سرامد اعتبار دهنده از قبیل مرکز ملی تایید صلاحیت ایران ،سازمان ملی استاندارد ایران ،بانک مرکزی جمهوری اسلامی ایران  ،سازمان برنامه بودجه کشور و سازمان های معتبر دیگر در عرصه صنعت کشور با اتکا به دانش فنی و پرسنل مجرب خود افتخار حضور در بازرسی ،حجیم کسی از کالاهای وارداتی ،کشاورزی  ،صنعتی در ابعاد مختلف را دارا بوده و در زمینه های مختلف تخصصی به عنوان بازوی اجرایی دستگاه‌های نظارتی کشور ایفای نقش نموده است.
                                                    </p>
                                                    <p>
                                                        با عنایت به توسعه روزافزون فعالیت‌ها در عرصه های ملی و بین‌المللی بدین وسیله این شرکت آمادگی کامل خود را جهت همکاری در کلیه زمینه‌های بازرسی و ارزیابی انطباق با استانداردهای ملی و بین المللی اعلام می دارد. <b>تایکو </b>با در اختیار داشتن ۶ آزمایشگاه تخصصی و آکرودیته دارنده گواهی (ISO 17025) وکارشناسان مجرب و برجسته در زمینه‌های منسوجات و پارچه ،مصالح ساختمانی بلوک های سقفی پلی استایرن ،اوزان و مقیاس ها واقع در شهرداری تبریز ،شیراز ،گناوه  ،بوشهر طیف وسیعی از آزمون های مرتبط را مطابق  استانداردهای بین المللی و ملی پوشش میدهد .
                                                    </p><p><br></p>
                                                </div><hr><div class=" text-justify">
                                                    <p><br></p><p>
                                                    </p>
                                                </div>
                                                <div class=" text-justify" dir="ltr">
                                                    <p style="text-align: center; ">
                                                        <b>

                                                            <span style="font-size: 14px;">introduction of Tehran International Experts Inspection Company (TIECo.)</span><span style="font-size: 14px;">
                                                            </span>
                                                        </b>
                                                    </p><p>
                                                        Tehran International Experts Inspection Company (<b>TIECo</b>.) is an Iranian inspection company that has more than two
                                                        decades of experience and has performed activities in the field of all technical inspections around the world, includiing
                                                        inspections during construction and installation of equipment in designs and Industrial projects, inspection of imported
                                                        . and exported goods, quantitative and qualitative inspection of products and manufactured products
                                                        Since 2015, <b>TIECo </b>has been selected as the representative of the Baltic Control Denmark Inspection Company in Iran and
                                                        has expanded its activities on a global scale
                                                    </p>
                                                    <p>
                                                        Since 2019, <b>TIECo </b>has been selected as the represent stive of the Chinese HOTS Inspection Company in Iran, and as the

                                                        only company that inspects goods exported, inspects all shipments to that country and issues quality certificatesfor them.
                                                    </p>
                                                    <p>
                                                        <b>
                                                            TIECo
                                                        </b>. is the first Iranian inspecti ly passed all the evaluation and auditing stages related
                                                        to the International Federation o 3s become a member of this international organization.

                                                        This company is just waitin srtification and using its mark
                                                        <b>TIECo </b>has based its business on spection services to various industries, especially the agricultural, food, oil ar company has about 120 employees including
                                                        domestic and foreign forces, and cooperarates with more than 11 domestic branches (Tehran, Shiraz, Isfahan, Mashhad,
                                                        Zanjan, Bushehr, Genaveh, Bandar Abbas , Abadan, Qeshm, and Tabriz ) as well as  12 foreign branches and representative


                                                        ( USA,Canada ,UK ,UAE, India, Italy, Spain, France, Germany, Turkey, Netherlands and China). It also has certificates and
                                                        licenses from leading accrediting organizations such as the National Accreditation Center of Iran (Iranian National
                                                        Standards Organization - INSO), the Central Bank of the Islamic Republic of Iran, the Planning and Budget Organization
                                                        and other reputable organizations in the field of industry. Also, relying on its technical knowledge and experienced
                                                        personnel , it has had the honor of attending the inspection of a large number of imported agricultural and industrial
                                                        goods in various dimensions and has played a role in various specialized fields as the executive arm of the country's
                                                        supervisory bodies. Considering the increasing development of inspection activities in the national and international
                                                        areas, the company hereby declares its full readiness to cooperate with all institutions in all areas of inspection and
                                                        assessment of compliance with national and international standards.
                                                        <b>TIECo</b>. with 6 specialized laboratories and accreditation (holder of ISO 17025 certificate) and employing experienced
                                                        and prominent experts in the field of textiles, building materials, roof blocks, polystyrene, weights and scales in the
                                                        Cities of Tabriz, Shiraz, Genaveh and Bushehr, covers a wide range of related tests in accordance with international and
                                                        National standards.
                                                    </p>
                                                </div>
                                            </div>
                                        </div>
                                        <!-- End About Area  -->
                                    </div>

                                </div>
                            </div>
                        </div>
                        <!-- End Post List Wrapper  -->
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- End Post Single Wrapper  -->
<!-- Start Post List Wrapper  -->
<div class="axil-post-list-area axil-section-gap bg-color-white">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 col-xl-12">
                <!-- Start About Area  -->
                <div class="axil-about-us text-justify">
                    <div class="row text-right" dir="rtl">
                        <div class="col-md-12  col-12">
                            <label>
                                آدرس دفتر مرکزی
                            </label>
                            <p>
                                <b>
                                    تهران بلوار آفریقا (جردن) انتهای ناهید شرقی پلاک 35 طبقه سوم
                                </b>
                            </p>
                        </div>
                        <div class="col-md-4  col-12 ">
                            <div class="border rounded pr-2 pt-2 ml-2 mb-2">
                                <label>
                                    واحد بازرسی کالا
                                </label>
                                <p>
                                    <i class="fab fa-phone"></i>

                                    02174612 - داخلی 333

                                </p>
                            </div>

                        </div>
                        <div class="col-md-4  col-12">

                            <div class="border rounded pr-2 pt-2 ml-2 mb-2">
                                <label>
                                    واحد بازرسی فنی
                                </label>
                                <p>
                                    <i class="fab fa-phone"></i>

                                    02174612 - داخلی 600

                                </p>
                            </div>
                        </div>
                        <div class="col-md-4  col-12 ">
                            <div class="border rounded pr-2 pt-2 ml-2 mb-2">
                                <label>
                                    واحد توسعه کیفیت
                                </label>
                                <p>
                                    <i class="fab fa-phone"></i>

                                    02174612 -  داخلی 621

                                </p>
                            </div>

                        </div>
                        <div class="col-md-4  col-12 ">

                            <div class="border rounded pr-2 pt-2 ml-2 mb-2">
                                <label>
                                    واحد توسعه بازار
                                </label>
                                <p>
                                    <i class="fab fa-phone"></i>

                                    02174612 -  داخلی 701

                                </p>
                            </div>
                        </div>
                        <div class="col-md-4  col-12 ">

                            <div class="border rounded pr-2 pt-2 ml-2 mb-2">
                                <label>
                                    امور اداری ومنابع انسانی
                                </label>
                                <p>
                                    <i class="fab fa-phone"></i>

                                    02174612 -  داخلی 200

                                </p>
                            </div>
                        </div>
                        <div class="col-md-4  col-12 ">

                            <div class="border rounded pr-2 pt-2 ml-2 mb-2">
                                <label>
                                    واحد امور مالی
                                </label>
                                <p>
                                    <i class="fab fa-phone"></i>

                                    02174612 -  داخلی 206

                                </p>
                            </div>
                        </div>
                        <div class="col-md-4  col-12 ">

                            <div class="border rounded pr-2 pt-2 ml-2 mb-2">
                                <label>
                                    حوزه مدیریت
                                </label>
                                <p>
                                    <i class="fab fa-phone"></i>

                                    02174612 -  داخلی 101

                                </p>
                            </div>
                        </div>
                        <div class="col-md-4  col-12 ">

                            <div class="border rounded pr-2 pt-2 ml-2 mb-2">

                                <label>
                                    واحد IT
                                </label>
                                <p>
                                    <i class="fab fa-phone"></i>

                                    02174612 -  داخلی 999

                                </p>
                            </div>
                        </div>
                    </div>
 
                </div>
                <!-- End About Area  -->
            </div>

        </div>
    </div>
</div>
<!-- End Post List Wrapper  -->