@{
    ViewData["Title"] = "Privacy Policy";
}
<h1>@ViewData["Title"]</h1>


<!-- Start Post Single Wrapper  -->
<div class="axil-privacy-area axil-section-gap bg-color-white">
    <div class="container">
        <div class="row">
            <div class="col-lg-10 offset-lg-1">
                <div class="content">
                    <div class="inner text-right">


                        <div class="section-title">
                            <h1 class="title">
                                درباره ما
                            </h1>
                        </div>
                        <!-- Start Post List Wrapper  -->
                        <div class="axil-post-list-area axil-section-gap bg-color-white">
                            <div class="container">
                                <div class="row">
                                    <div class="col-lg-12 col-xl-12">
                                        <!-- Start About Area  -->
                                        <div class="axil-about-us">
                                            <div class="inner text-justify">
                                                <h1 class="text-center" style="font-size:20px;">
                                                    <strong>
                                                        شرکت بازرسی خبرگان بین المللی تهران

                                                    </strong>
                                                </h1>
                                                <div class=" text-justify">
                                                    <p>
                                                        <b>
                                                            شرکت بازرسی خبرگان بین المللی تهران (Tieco)
                                                        </b> با پشتوانه تجربه ای بیش از دو دهه فعالیت به عنوان شرکت ایرانی بازرسی کننده کلیه مراحل بازرسی فنی اعم از بازرسی حین ساخت و نصب تجهیزات در طرح ها و پروژه های صنعتی ،

                                                        بازرسی انواع کالاهای وارداتی و صادراتی بازرسی کمی و کیفی از فراورده ها و محصولات تولیدی در سراسر جهان با سرمایه و پشتوانه مالی می باشد.
                                                    </p>
                                                    <p>
                                                        <b>
                                                            تایکو
                                                        </b> از سال ۲۰۱۵ موفق شد به عنوان نماینده شرکت بازرسی بالتیک کنترل دانمارک در ایران برگزیده شود و در ابعاد جهانی فعالیت خود را گسترده تر کند، <b>تایکو </b>از سال ۲۰۱۹ موفق شد به عنوان نماینده شرکت بازرسی HQTS چین در ایران برگزیده شود, به عنوان تنها شرکت بازرسی کالاهای صادراتی به کشور عراق کلیه محموله‌های بازرسی و گواهی کیفیت برای آنها صادر نماید .
                                                    </p>
                                                    <p>
                                                        <b>
                                                            شرکت خبرگان بین المللی تهران ( تایکو )
                                                        </b> با پشت سر گذاشتن موفقیت‌آمیز تمامی مراحل ارزیابی و ممیزی فدراسیون جهانی شرکت های بازرسی IFIA به عنوان نخستین شرکت بازرسی ایرانی به عضویت این نهاد بین‌المللی در آمده است و تنها منتظر تایید OFAC جهت اعطای گواهینامه مربوط و استفاده از نشان IFIA  می باشد.
                                                    </p>
                                                    <p>
                                                        <b>
                                                            تایکو
                                                        </b>مجموعه کاملی از خدمات بازرسی کالا به صنایع مختلف علی الخصوص صنایع کشاورزی ، مواد غذایی ،نفت و گاز و پتروشیمی را محور اصلی کسب و کار خود قرار داده و با حدود ۱۲۰ نفر سرمایه انسانی اعم از داخل و خارج از کشور با بیش از ۱۱ شعبه داخلی <b>( تهران ،شیراز ،اصفهان  ،مشهد ،زنجان  ،بوشهر ،گناوه  ،بندر عباس ،آبادان ،تبریز )</b> و همچنین ۱۲ شعبه و نمایندگی در خارج از کشور شامل <b>( آمریکا ،کانادا  ،انگلستان  ،امارات متحده عربی ،ایتالیا  ،اسپانیا  ،فرانسه  ،آلمان ،ترکیه  ،هلند ،چین )</b> با دارا بودن گواهینامه و مجوز از سازمان های سرامد اعتبار دهنده از قبیل مرکز ملی تایید صلاحیت ایران ،سازمان ملی استاندارد ایران ،بانک مرکزی جمهوری اسلامی ایران  ،سازمان برنامه بودجه کشور و سازمان های معتبر دیگر در عرصه صنعت کشور با اتکا به دانش فنی و پرسنل مجرب خود افتخار حضور در بازرسی ،حجیم کسی از کالاهای وارداتی ،کشاورزی  ،صنعتی در ابعاد مختلف را دارا بوده و در زمینه های مختلف تخصصی به عنوان بازوی اجرایی دستگاه‌های نظارتی کشور ایفای نقش نموده است.
                                                    </p>
                                                    <p>
                                                        با عنایت به توسعه روزافزون فعالیت‌ها در عرصه های ملی و بین‌المللی بدین وسیله این شرکت آمادگی کامل خود را جهت همکاری در کلیه زمینه‌های بازرسی و ارزیابی انطباق با استانداردهای ملی و بین المللی اعلام می دارد. <b>تایکو </b>با در اختیار داشتن ۶ آزمایشگاه تخصصی و آکرودیته دارنده گواهی (ISO 17025) وکارشناسان مجرب و برجسته در زمینه‌های منسوجات و پارچه ،مصالح ساختمانی بلوک های سقفی پلی استایرن ،اوزان و مقیاس ها واقع در شهرداری تبریز ،شیراز ،گناوه  ،بوشهر طیف وسیعی از آزمون های مرتبط را مطابق  استانداردهای بین المللی و ملی پوشش میدهد .
                                                    </p><p><br></p>
                                                </div><hr><div class=" text-justify">
                                                    <p><br></p><p>
                                                    </p>
                                                </div>
                                                <div class=" text-justify" dir="ltr">
                                                    <p style="text-align: center; ">
                                                        <b>

                                                            <span style="font-size: 14px;">introduction of Tehran International Experts Inspection Company (TIECo.)</span><span style="font-size: 14px;">
                                                            </span>
                                                        </b>
                                                    </p><p>
                                                        Tehran International Experts Inspection Company (<b>TIECo</b>.) is an Iranian inspection company that has more than two
                                                        decades of experience and has performed activities in the field of all technical inspections around the world, includiing
                                                        inspections during construction and installation of equipment in designs and Industrial projects, inspection of imported
                                                        . and exported goods, quantitative and qualitative inspection of products and manufactured products
                                                        Since 2015, <b>TIECo </b>has been selected as the representative of the Baltic Control Denmark Inspection Company in Iran and
                                                        has expanded its activities on a global scale
                                                    </p>
                                                    <p>
                                                        Since 2019, <b>TIECo </b>has been selected as the represent stive of the Chinese HOTS Inspection Company in Iran, and as the

                                                        only company that inspects goods exported, inspects all shipments to that country and issues quality certificatesfor them.
                                                    </p>
                                                    <p>
                                                        <b>
                                                            TIECo
                                                        </b>. is the first Iranian inspecti ly passed all the evaluation and auditing stages related
                                                        to the International Federation o 3s become a member of this international organization.

                                                        This company is just waitin srtification and using its mark
                                                        <b>TIECo </b>has based its business on spection services to various industries, especially the agricultural, food, oil ar company has about 120 employees including
                                                        domestic and foreign forces, and cooperarates with more than 11 domestic branches (Tehran, Shiraz, Isfahan, Mashhad,
                                                        Zanjan, Bushehr, Genaveh, Bandar Abbas , Abadan, Qeshm, and Tabriz ) as well as  12 foreign branches and representative


                                                        ( USA,Canada ,UK ,UAE, India, Italy, Spain, France, Germany, Turkey, Netherlands and China). It also has certificates and
                                                        licenses from leading accrediting organizations such as the National Accreditation Center of Iran (Iranian National
                                                        Standards Organization - INSO), the Central Bank of the Islamic Republic of Iran, the Planning and Budget Organization
                                                        and other reputable organizations in the field of industry. Also, relying on its technical knowledge and experienced
                                                        personnel , it has had the honor of attending the inspection of a large number of imported agricultural and industrial
                                                        goods in various dimensions and has played a role in various specialized fields as the executive arm of the country's
                                                        supervisory bodies. Considering the increasing development of inspection activities in the national and international
                                                        areas, the company hereby declares its full readiness to cooperate with all institutions in all areas of inspection and
                                                        assessment of compliance with national and international standards.
                                                        <b>TIECo</b>. with 6 specialized laboratories and accreditation (holder of ISO 17025 certificate) and employing experienced
                                                        and prominent experts in the field of textiles, building materials, roof blocks, polystyrene, weights and scales in the
                                                        Cities of Tabriz, Shiraz, Genaveh and Bushehr, covers a wide range of related tests in accordance with international and
                                                        National standards.
                                                    </p>
                                                </div>
                                            </div>
                                        </div>
                                        <!-- End About Area  -->
                                    </div>

                                </div>
                            </div>
                        </div>
                        <!-- End Post List Wrapper  -->
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- End Post Single Wrapper  -->
<!-- Start Post List Wrapper  -->
<div class="axil-post-list-area axil-section-gap bg-color-white">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 col-xl-12">
                <!-- Start About Area  -->
                <div class="axil-about-us text-justify">
                    <div class="row text-right" dir="rtl">
                        <div class="col-md-12  col-12">
                            <label>
                                آدرس دفتر مرکزی
                            </label>
                            <p>
                                <b>
                                    تهران بلوار آفریقا (جردن) انتهای ناهید شرقی پلاک 35 طبقه سوم
                                </b>
                            </p>
                        </div>
                        <div class="col-md-4  col-12 ">
                            <div class="border rounded pr-2 pt-2 ml-2 mb-2">
                                <label>
                                    واحد بازرسی کالا
                                </label>
                                <p>
                                    <i class="fab fa-phone"></i>

                                    02174612 - داخلی 333

                                </p>
                            </div>

                        </div>
                        <div class="col-md-4  col-12">

                            <div class="border rounded pr-2 pt-2 ml-2 mb-2">
                                <label>
                                    واحد بازرسی فنی
                                </label>
                                <p>
                                    <i class="fab fa-phone"></i>

                                    02174612 - داخلی 600

                                </p>
                            </div>
                        </div>
                        <div class="col-md-4  col-12 ">
                            <div class="border rounded pr-2 pt-2 ml-2 mb-2">
                                <label>
                                    واحد توسعه کیفیت
                                </label>
                                <p>
                                    <i class="fab fa-phone"></i>

                                    02174612 -  داخلی 621

                                </p>
                            </div>

                        </div>
                        <div class="col-md-4  col-12 ">

                            <div class="border rounded pr-2 pt-2 ml-2 mb-2">
                                <label>
                                    واحد توسعه بازار
                                </label>
                                <p>
                                    <i class="fab fa-phone"></i>

                                    02174612 -  داخلی 701

                                </p>
                            </div>
                        </div>
                        <div class="col-md-4  col-12 ">

                            <div class="border rounded pr-2 pt-2 ml-2 mb-2">
                                <label>
                                    امور اداری ومنابع انسانی
                                </label>
                                <p>
                                    <i class="fab fa-phone"></i>

                                    02174612 -  داخلی 200

                                </p>
                            </div>
                        </div>
                        <div class="col-md-4  col-12 ">

                            <div class="border rounded pr-2 pt-2 ml-2 mb-2">
                                <label>
                                    واحد امور مالی
                                </label>
                                <p>
                                    <i class="fab fa-phone"></i>

                                    02174612 -  داخلی 206

                                </p>
                            </div>
                        </div>
                        <div class="col-md-4  col-12 ">

                            <div class="border rounded pr-2 pt-2 ml-2 mb-2">
                                <label>
                                    حوزه مدیریت
                                </label>
                                <p>
                                    <i class="fab fa-phone"></i>

                                    02174612 -  داخلی 101

                                </p>
                            </div>
                        </div>
                        <div class="col-md-4  col-12 ">

                            <div class="border rounded pr-2 pt-2 ml-2 mb-2">

                                <label>
                                    واحد IT
                                </label>
                                <p>
                                    <i class="fab fa-phone"></i>

                                    02174612 -  داخلی 999

                                </p>
                            </div>
                        </div>
                    </div>
 
                </div>
                <!-- End About Area  -->
            </div>

        </div>
    </div>
</div>
<!-- End Post List Wrapper  -->


<section class="container-fluid mt-3 p-4 pb-lg-0 box mb-3 ">
    <div class="  ">
        <div class="row">
            <div class="col-lg-12">

                <div id="blog_details">
                    <h1 style=" text-shadow: 0 0 3px #00efff; font-size: 23px;" class="text-primary">
                        آزمون پرتونگاری
                    </h1>
                    <img src="/images/ServiceGroup/بازرسی-مواد-معدنی1.jpg" class="img-fluid rounded mb-3 mt-3">

                    <p>
                        یکی از روش های پر کاربرد در  بازرسی جوش غیر مخرب ،بهره گیری از آزمون پرتونگاری  می‌باشد. که در این روش از پرتوهای ایکس و گاما برای تشخیص ایرادات درون قطعه استفاده می‌شود.در این مقاله به بررسی آزمون پرتو نگاری و تمام موارد مربوط به آن خواهیم پرداخت پس با ما همراه باشید.
                    </p>
                    <h2>
                        آزمون پرتونگاری چیست؟
                    </h2>
                    <p>
                        به استفاده از امواج گاما و ایکس، که قابلیت نفوذ در بسیاری از مواد را دارند، آزمون پرتونگاری گفته میشود که برای بررسی مواد و تشخیص عیوب محصولات مخصوصا در تست مخرب جوش استفاده میشود. در این روش اشعه ایکس یا رادیواکتیو به قطعه مورد نظر تابیده میشود که بعد از عبور از قطعه بر روی فیلم منعکس می‌شود. و با این ترتیب عیوب قطعه بر روی فیلم ظاهر میشود و میتوان اقدامات لازم را انجام داد. ولی به دلیل وجود ضخامت و مشخصه‌های داخلی که در قطعه است  نقاطی در فیلم تاریکتر یا روشن‌تر دیده می شوند.

                    </p>
                    <p>
                        پرتوهای ایکس و گاما موجود در آزمون پرتونگاری طول موج‌های بسیار کوتاه دارد و به همین علت با انرژی بسیار زیادی قادر است تا به درون قطعه نفوذ کند. این پرتوها هنگام عبور از هر محیطی ضعیف میشود و همچنین قسمتی از آن نیز جذب محیط میشود. ضعیف شدن پرتو های این آزمون تحت تاثیر عواملی مانند چگالی و ساختار محیط و همچنین نوع، شدت و انرژی فوتون پرتو خواهد بود.

                    </p>
                    <p>
                        آزمون پرتونگاری براساس تغییر ضریب جذب و تغییر در اندازه اشعه عبوری از قسمت‌های سالم و معیوب قطعه است. در صورت وجود هر نوع عیبی  که دارای چگالی متفاوتی با قطعه است باعث میشود که میزان اشعه عبوری از قطعه کاهش یا افزایش یابد.


                    </p>
                    <p>
                        شرکت بازرسی تایکو هنگام بررسی بر طبق آزمون پرتونگاری توسط کارشناسان حرفه ای، با استفاده از فیلم پرتونگاری ثبت شده و پس از ظهور فیلم می‌تواند به تفسیر عیوب مربوط به قطعه بپردازد. فیلم پرتونگاری پس از ظهور بر اثر دریافت اشعه سیاه می‌شود و قسمت‌هایی که اشعه بیشتری دریافت کرده تیره‌تر و قسمت‌هایی که اشعه کمتری دریافت کرده روشن‌تر خواهد شد.بر اساس تیرگی و روشنی عیوب شناسایی میشود.


                    </p>
                    <p>
                        به این صورت که عیوب هایی مانند دانه‌های اکسیدی که چگالی بالاتری از قطعه دارند، دارای ضریب جذب بالاتری هستند و شدت اشعه عبوری را کاهش می‌دهند، در نتیجه این نقاط اثر روشن تری بر روی فیلم می‌گذارند یا بالعکس عیوبی مانند حفره و مک گازی که دارای چگالی کمتری هستند اثر تیره تری بر روی فیلم می‌گذارند.


                    </p>
                    <p>
                        با رشد سریع جمعیت در کشورهای صنعتی و توسعه اقتصادی  ،  تقاضای واردات جهانی برای فلزاتی مانند ضایعات، فروآلیاژها، لوله‌ها، میلگرد، ورق، مفتول و ... افزایش یافته است.بنابراین تقاضا ها کیفیت موادمعدنی  و محصولات نیز لازم است بهتر و مناسب تر باشد در نتیجه، <b>بازرسی مواد معدنی</b> یکی از مواردی است که بیشتر مورد تقاضای خدمات مشتریان ما است.
                    </p><p>



                    </p>
                    <p>همچنین این بازرسی جزو <a href="https://tie.co.ir/LabelService/IC" target="_blank"><b><font color="#e76363">بازرسی IC </font></b></a>, جزو <a href="https://tie.co.ir/LabelService/Inspection-coi" target="_blank"><b><font color="#e76363">بازرسی COI</font></b></a> می باشد.</p><p>
                        بخش بازرسی مواد معدنی شرکت تایکو در زمینه مواد معدنی و فلزات با
                        استفاده از بازرسان مجرب خود خدمات متنوعی از قبیل کنترل وزن ، کنترل ابعاد
                        بازرسی کاتنینر و انبار ، بازرسی ظاهری ، نمونه برداری و غیره را انجام می دهد و به کمک
                        آزمایشگاه های معتبر داخلی داخلی و خارجی در اسرع وقت گزارشات بازرسی را ارائه می نماید.
                    </p><p><b>شرکت تایکو</b> در زمینه <a href="https://tie.co.ir/LabelService/Iraqi-inspection" target="_blank"><b><font color="#e76363">بازرسی کالا به عراق</font></b></a> فعالیت میکند که برای اطلاعات بیشتر در این زمینه هم میتوانید مقاله مرتبط را مطالعه نمائید.</p><p>

                    </p>
                    <hr>
                    <h2 class="text-primary" style=" text-shadow: 0 0 3px #00efff; font-size: 23px;">
                        لیست خدمات بازرسی مواد معدنی :

                    </h2>
                    <img src="/images/ServiceGroup/بازرسی-مواد-معدنی-2.jpg" class="img-fluid rounded mb-3 mt-3">

                    <ul>
                        <li>
                            <i class="fa  fa-check ml-2"></i>
                            کنترل ورودی کالاهای تحویل شده به پایانه بندر


                        </li>
                        <li>
                            <i class="fa  fa-check ml-2"></i>
                            کنترل خروجی از کارخانه معدن



                        </li>
                        <li>
                            <i class="fa  fa-check ml-2"></i>
                            بازرسی تمیزی انبارهای کشتی (کانتینرهای راه آهن، واگن) و تایید مناسب بودن آن برای حمل نوع خاصی از محموله. صدور گواهی نظافت




                        </li>
                        <li>
                            <i class="fa  fa-check ml-2"></i>
                            بازرسی شرایط پوشش دریچه



                        </li>
                        <li>
                            <i class="fa  fa-check ml-2"></i>

                            بازرسی 24 ساعته بصری از فرآیند بارگیری و ارزیابی بصری کیفیت کالا


                        </li>
                        <li>
                            <i class="fa  fa-check ml-2"></i>
                            نمونه برداری در حین بارگیری و تهیه نمونه مرکب که نشان دهنده کل مقدار محموله طبق استانداردهای نمونه برداری بین المللی است.


                        </li>
                        <li>
                            <i class="fa  fa-check ml-2"></i>

                            تست آزمایشگاهی انواع کالاها مطابق با الزامات و استانداردهای داخلی و بین المللی و همچنین با نیاز مشتری خاص


                        </li>
                        <li>
                            <i class="fa  fa-check ml-2"></i>
                            کنترل وزن در حین بارگیری یا تخلیه کشتی بر اساس محاسبه کشتی و همچنین تأیید خروجی محموله بر اساس اندازه گیری ساحل. بررسی اعتبار گواهی سنجش اندازه گیری ترازو


                        </li>
                        <li>
                            <i class="fa  fa-check ml-2"></i>
                            پیش نویس بررسی (اولیه، نهایی، میانی) کشتی ها و لنج های دریایی


                        </li>
                        <li>
                            <i class="fa  fa-check ml-2"></i>
                            مهر و موم نگهدارنده ظرف / ظرف


                        </li>
                        <li>
                            <i class="fa  fa-check ml-2"></i>
                            بررسی وضعیت فنی انبارها از نظر مناسب بودن آن برای نگهداری محموله خاص

                        </li>
                        <li>
                            <i class="fa  fa-check ml-2"></i>
                            تایید حجم/تناژ بار انباشته شده در انبارها یا بندر برای بانک ها و شرکت های بیمه.

                        </li>
                        <li>
                            <i class="fa  fa-check ml-2"></i>
                            بررسی انطباق برچسب و بسته بندی با مشخصات

                        </li>
                        <li>
                            <i class="fa  fa-check ml-2"></i>

                            بازرسی های قبل از حمل در انبارها کارخانجات و معادن
                        </li>
                        <li>
                            <i class="fa  fa-check ml-2"></i>

                            بازرسی های حین حمل در بنادر و ترمینال های خروجی
                        </li>
                        <li>
                            <i class="fa  fa-check ml-2"></i>

                            نظارت بر بارگیری و تخلیه در بنادر و انبار ها (داخل و خارج از کشور)
                        </li>
                        <li>
                            <i class="fa  fa-check ml-2"></i>

                            بازرسی و تایید تمیز و مناسب بودن انبار های کشتی / کانتینر قبل از بارگیری
                        </li>
                        <li>
                            <i class="fa  fa-check ml-2"></i>

                            درافت سوروی جهت تعیین وزن محموله کشتی ها و نظارت بر باسکول
                        </li>
                        <li>
                            <i class="fa  fa-check ml-2"></i>

                            دپوگرافی جهت تعیین حجم / وزن دپو های فله مواد معدنی
                        </li>
                        <li>
                            <i class="fa  fa-check ml-2"></i>

                            نمونه برداری کیفی و آماده سازی نمونه
                        </li>
                        <li>
                            <i class="fa  fa-check ml-2"></i>

                            نظارت بر انجام آزمایشات نمونه محمولات
                        </li>
                        <li>
                            <i class="fa  fa-check ml-2"></i>

                            بازرسی های خسارت دیدگی کالا و تخمین میزان خسارت
                        </li>
                    </ul>
                    <p>
                        <font color="#8c7bc6" style="">
                            <b>
                                اهم پروژه های اجرا شده
                            </b>
                        </font>
                    </p>
                    <ul>
                        <li>
                            <font color="#8c7bc6"><i class="fa  fa-check ml-2"></i></font>



                            همکاری با مجموعه شرکت های توسعه معادن روی ایران

                        </li>
                        <li>
                            <i class="fa  fa-check ml-2"></i>

                            همکاری با مجموعه شهرک تخصصی روی زنجان
                        </li>
                        <li>
                            <i class="fa  fa-check ml-2"></i>

                            همکاری با شرکت صنعت روی زنگان
                        </li>
                        <li>
                            <i class="fa  fa-check ml-2"></i>

                            همکاری با شرکت های گروه زرین
                        </li>
                        <li>
                            <i class="fa  fa-check ml-2"></i>

                            همکاری با تعاونی سرب و روی کشور
                        </li>
                        <li>
                            <i class="fa  fa-check ml-2"></i>

                            همکاری با شرکت ملی سرب و روی ایران
                        </li>
                        <li>
                            <i class="fa  fa-check ml-2"></i>

                            همکاری با مجموعه فرآوری کانی فرآوران بزد
                        </li>
                        <li>
                            <i class="fa  fa-check ml-2"></i>

                            همکاری با شرکت فرآوری کیان بروجن
                        </li>
                    </ul>
                    <p>
                        <b>
                            شرکت بازرسان بین المللی خبرگان تهران
                        </b> با داشتن  بازرسان حرفه ای  خود ، به مشتریان کمک می کند تا کیفیت و کمیت مواد معدنی را در هنگام بارگیری یا تخلیه کنترل کند. و تمامی وظایف مربوط  به<b> <a href="https://tie.co.ir/Services/mineral-inspection" target="_blank" style=""><font color="#e76363">بازرسی مواد معدنی</font></a></b> را انجام میدهد .
                    </p>
                    <p>
                        یکی از شرکت های مهم خارجی در این حوزه&nbsp; شرکت&nbsp;
                        <a href="https://www.sgs.com/en/our-services/natural-resources/mineral-and-metal-commodities" target="_blank"><font color="#e76363"><b>SGS </b></font></a>می باشد. شرکت تایکو هم مثل همین شرکت در
                        <a href="https://tie.co.ir/LabelService/Cargo-inspection" target="_blank">
                            <b>
                                <font color="#e76363">بازرسی کالا</font>
                            </b>
                        </a> فعالیت میکند.
                    </p>
                    <p>برای مشاهده خدمات بیشتر می توانید به لینک زیر هم مراجعه نمائید.</p>
                    <p style="text-align: center; "><a href="https://tie.co.ir/ShowAllGroupServices" target="_blank"><b><font color="#e76363">خدمات تایکو</font></b></a></p><p>



                    </p><p>
                        مواد معدنی به ترکیباتی گفته میشود  که به طور مصنوعی به دست نمی آیند و ساختار شیمیایی خاصی دارند. و در طبیعت یافت میشوند تمام مواد معدنی به شکل جامد در طبیعت یافت میشوند به جز جیوه و نفت خام که به صورت مایع است هر جایی که این مواد پیدا میشود معدن نامیده میشود .بعد از پیدایش مواد معدنی باید استخراج شود تا مورداستفاده قرار گیرد.
                    </p>
                    <p>
                        به علت سهولت در بازاریابی و فروش مواد معدنی بازرسی رسمی مواد معدنی انجام میشود که این وظایف بر عهده شرکت های بازرسی مواد معدنی میباشد که این شرکتها  با انجام  بازرسی و سنجش اطلاعات دقیق و منسجم کمیت و کیفیت مواد معدنی مورد خرید و فروش را بررسی میکنند و سپس گواهی های تایید را ارائه میدهند.
                    </p>
                    <p>
                        گرفتن مدارک تکمیلی از شرکت بازرسی مستقل و حرفه ای برای این مهم و لازم است که از بروز اختلافات بین تاجران جلوگیری کند.چون قراردادی بین تاجران و شرکت بازرسی مواد معدنی بسته میشود که از تمامی موارد مواد معدنی بررسی به عمل آید تا هیچ مشکلی نداشته باشند و مطابق استانداردهای بین المللی باشد.
                    </p>
                    <p>
                        این استانداردها  بر طبق روش های بین المللی است و که هنگام استفاده از خدمات شرکت های بازرسی مواد معنی به عنوان به عنوان شاهد یا کارشناس مستقل حرفه ای در امور است که اگر مشکلی ایجاد شود به عهده این شرکت ها است. که اغلب، با حضور یک متخصص با تجربه و حرفه ای در محل بازرسی می تواند از هرگونه دستکاری غیرقانونی با مواد معدنی جلوگیری شود.
                    </p>
                    <p>
                        بازرسان تایید شده <b>شرکت بازرسی تایکو</b> تمامی اندازه گیری ها و محاسبات لازم را انجام می دهند و به سرعت مشتریان خود را در مورد تخلفات قراردادی، ناسازگاری ها یا آسیب های شناسایی شده آگاه می کنند.
                    </p>
                    <p>
                        <b>
                            بازرسان مواد معدنی
                        </b> هر گونه اشکال و ایرادی را با توجه به شواهد خود مانند عکس و ویدئو و سایر پشتیبانی های مستند از فرآیند لجستیک را ارائه می دهند و نسبت به آنها گزارش یا گواهی بازرسی دقیق را نوشته و ارائه میدهند. در صورتی که هرگونه عدم تطابق با مشخصات قرارداد، یا تهدیدی برای امنیت یا صدمه به محموله،دیده شود، بازرسان شرکت بازرسی خبرگان بین المللی تهران خیلی زود به صورت شبانه روزی مشتریان خود را مطلع کرده  و اقدامات لازم را برای ممانعت یا کم کردن آسیب توصیه و اجرا می کنند.
                    </p>
                    <p>
                        به علت افزایش توسعه اقتصادی در کشورهای صنعتی ، تقاضای واردات جهانی برای مواد معدنی و فلزاتی مانند ضایعات فلزی، فروآلیاژها، لوله‌ها، میلگرد، ورق، مفتول و اسلب زیاد شده است شرکت های بازرسی زیادی در کل جهان نیز رو به افزایش میباشد .ولی همه ی این شرکت ها از اعتبار و کیفیت عملکرد لازم برخوردار نیستند پس باید برای انتخاب شرکت بازرسی مواد معدنی دقت زیادی به عمل آید تا بتوان نتیجه مطلوب را کسب کرد.
                    </p>
                    <p>
                        به سبب، تقاضای زیاد خدمات مشتریان ،<b>بازرسی مواد معدنی</b> ، یک منطقه اولویت برای شرکت های بازرسی است.
                    </p>
                    <p>
                        شرکت های  نظارت و بازرسی ، کنترل های کیفی و کمی برای معادن و مواد معدنی زیر انجام میدهند: آهن قراضه ، آهن خوک ، فرو منگنز ، فرو سیلیس ، فرو سیلیس منگنز ، فرو مولیبدن ، فرو کروم ، سیمان ، آهک ، فلدسپات ، ذغال سنگ ، ذغال سنگ آنتراسیت و کک.بازرسان مواد معدنی از مواد  نمونه می گیرند ، اندازه گیری های لازم را انجام می دهند ، آزمایش ها و تجزیه و تحلیل ها را انجام می دهند و سپس گزارش های مربوط به همه این کارها را طبق استانداردهای مربوطه قبل ، حین و هنگام بارگیری و تخلیه معادن و مواد معدنی ارائه میدهند.و در اختیار مشتریان گرامی قرار میدهند. <b>شرکت تایکو</b> این خدمات را با زیرساخت های فنی و بازرسان ماهر ارائه می دهد.
                    </p>
                    <p>
                        خدمات اصلی معدن و نظارت معدنی ارائه شده توسط شرکت بازرسی شامل موارد زیر است:
                    </p>
                    <ul>
                        <li>
                            <i class="fa  fa-check ml-2"></i>
                            نظارت بر محصولات متالورژی
                        </li>
                        <li>
                            <i class="fa  fa-check ml-2"></i>
                            کمیت و نظارت بر کیفیت
                        </li>
                        <li>
                            <i class="fa  fa-check ml-2"></i>
                            توزین
                        </li>
                        <li>
                            <i class="fa  fa-check ml-2"></i>
                            پیش نویس بررسی
                        </li>
                        <li>
                            <i class="fa  fa-check ml-2"></i>
                            نظارت بر خسارت
                        </li>
                        <li>
                            <i class="fa  fa-check ml-2"></i>
                            آب بندی / گشودن
                        </li>
                        <li>
                            <i class="fa  fa-check ml-2"></i>
                            مجموعه / آماده سازی نمونه
                        </li>
                        <li>
                            <i class="fa  fa-check ml-2"></i>
                            نمونه گیری مناسب از سهام
                        </li>
                        <li>
                            <i class="fa  fa-check ml-2"></i>
                            کنترل بارگیری / بارگیری مقدار
                        </li>
                        <li>
                            <i class="fa  fa-check ml-2"></i>
                            انبار ، چک های تمیز کردن انبار
                        </li>
                        <li>
                            <i class="fa  fa-check ml-2"></i>
                            دما ، کنترل رطوبت ، آنالیز
                        </li>
                        <li>
                            <i class="fa  fa-check ml-2"></i>
                            پیش نویس بررسی
                        </li>
                        <li>
                            <i class="fa  fa-check ml-2"></i>
                            فیزیکی ، تهیه نمونه شیمیایی ، تجزیه و تحلیل
                        </li>
                        <li>
                            <i class="fa  fa-check ml-2"></i>
                            تست های صفحه
                        </li>
                        <li>
                            <i class="fa  fa-check ml-2"></i>
                            نمونه برداری از زغال سنگ ، نظارت بر تجزیه و تحلیل
                        </li>
                    </ul>
                </div>


            </div>
        </div>
    </div>
</section>



























